*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.html
go.work
/vendor/
/Godeps/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix
.history
.ionide
